{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
<div class="container py-5 back">
    <h1>Politique de Confidentialité</h1>
    <p>
        La présente politique de confidentialité vous informe de la manière dont Homerenov91 collecte, utilise et protège les informations personnelles que vous pouvez fournir sur notre site internet.
    </p>

    <h2>1. Collecte des informations</h2>
    <p>
        Nous recueillons des informations lorsque vous remplissez un formulaire de contact ou demandez une étude sur notre site. Les informations recueillies incluent votre nom, votre adresse e-mail, votre numéro de téléphone, et votre adresse postale.
    </p>

    <h2>2. Utilisation des informations</h2>
    <p>
        Toutes les informations que nous recueillons auprès de vous peuvent être utilisées pour :
    </p>
    <ul>
        <li>Améliorer le service client</li>
        <li>Vous contacter par e-mail ou téléphone</li>
        <li>Envoyer des informations sur vos demandes ou projets</li>
    </ul>

    <h2>3. Protection des informations</h2>
    <p>
        Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons le cryptage SSL pour protéger les informations sensibles transmises en ligne.
    </p>

    <h2>4. Divulgation à des tiers</h2>
    <p>
        Nous ne vendons, n'échangeons et ne transférons vos informations personnelles identifiables à aucun tiers, sauf si cela est nécessaire pour répondre à des exigences légales ou pour protéger les droits, la propriété ou la sécurité de notre entreprise.
    </p>

    <h2>5. Consentement</h2>
    <p>
        En utilisant notre site, vous consentez à notre politique de confidentialité.
    </p>
</div>
<style>
.container {
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

h1, h2 {
    margin-top: 20px;
}
h1{
    text-align: center;
}

</style>
{% endblock %}
