{% extends 'base.html.twig' %}

{% block title %}Notre équipe{% endblock %}

{% block body %}
<div class=" equipe container mt-5">
    <h1 class="text-center team">Notre équipe</h1>

    <section class="team-presentation text-center my-5">
        <h2>Notre équipe, votre partenaire de confiance</h2>
        <p>
            Chez HomeRenov91, notre équipe de professionnels qualifiés est le cœur de notre réussite. Grâce à une expertise diversifiée et une approche collaborative, nous sommes en mesure d'apporter des solutions de rénovation sur mesure à nos clients. Chaque membre de l'équipe s'investit pleinement pour garantir des résultats de haute qualité et la satisfaction totale de nos clients.
        </p>
    </section>

    <section class="team-members text-center">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <img src="{{ asset('images/avatar.jpg') }}" alt="TRABELSI Nadia" class="avatar">
                <h3>TRABELSI Nadia</h3>
                <h4>Gérante</h4>
                <p>
                    Nadia, forte d'une expérience solide dans le domaine de la rénovation, est une gestionnaire dévouée. Son leadership et son attention aux détails assurent la réussite des projets de l'entreprise.
                </p>
                <p><strong>Email :</strong> nadia.trabelsi@homerenov91.fr</p>
                <p><strong>Téléphone :</strong> 01 23 45 67 89</p>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('images/avatar.jpg') }}" alt="TRABELSI Wael" class="avatar">
                <h3>TRABELSI Wael</h3>
                <h4>Dirigeant</h4>
                <p>
                    Wael, avec son expertise technique, supervise les aspects opérationnels. Il s'assure que chaque chantier se déroule dans les meilleures conditions et respecte les normes de qualité.
                </p>
                <p><strong>Email :</strong> wael.trabelsi@homerenov91.fr</p>
                <p><strong>Téléphone :</strong> 01 98 76 54 32</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}
